.fun:hover{

    background-color: rgba(122, 160, 19, 0.699);
}

.unique:hover
{
    background-color: green;
}
.unique1:hover
{
    background-color: red;
}
.special1{
    background-color: rgb(201, 134, 134);
}